#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#credential file
credentials.csv

#old directory containing bak files
old
optimy_key
